<!DOCTYPE html>
<html>
<head>
  <title>RailsModuleDevise</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<section class="h100 container">
  <% flash.each do |type, msg| %>
    <% if type == "notice" %>
      <div class="alert docify-flash is-success">
    <% elsif type == "alert" %>
      <div class="alert docify-flash is-danger">
    <% else %>
      <div class='alert docify-flash is-<%= "#{type}" %>'>
    <% end %>
    <a href="#" class="close" data-dismiss="alert">&#215;</a>
    <ul>
      <li>
        <%= msg %>
      </li>
    </ul>
    </div>
  <% end %>

  <%= yield %>
</section>
</body>
</html>
